# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# C extensions
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/

# Docker
**/output.txt
**/Dockerfile*

# VS Code
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfplan
.terraform.lock.hcl

# MacOS
.DS_Store

# Python test cache
.pytest_cache/

# Logs
*.log

# Ignore environment files
.env
.env.*

# Ignore GitHub Actions runner files
.github/workflows/*.log

# Ignore deployment artifacts
*.bak
*.swp 